<div class="user-session-container">
  <h1>Log In!</h1>

  <% if flash[:errors] %>
    <div class="errors alert alert-danger">
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>
      Username or Email<br>
      <input type="text" name="user[credential]" value="" placeholder="Username or Email">
    </label>
    <br>
    <label>
      Password<br>
      <input type="password" name="user[password]" value="" placeholder="Password">
    </label>

    <br>
    <input type="submit" class="btn btn-info" value="Submit">

    <br><br>
    <%= link_to "Create New Account", new_user_url %>
  </form>

  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="user[credential]" value="guest@aa.io">
    <input type="hidden" name="user[password]" value="tourneygen">
    <input type="submit" class="btn btn-info" value="Guest Login">

  </form>
</div>
