<div class="modal-background"></div>
<div class="modal-content">
  <button class="close">&times;</button>

  <h2><%= tournament.isNew() ? 'New Tournament' : 'Edit Tournament' %></h2>
  <div class="errors alert alert-danger empty"></div>

  <form>
    <label>
      Title<br>
      <input type="text"
        name="tournament[title]"
        class="title-field form-control"
        placeholder="Title"
        value="<%= tournament.escape("title") %>">
    </label>

    <% if (tournament.isNew() || JSON.stringify(tournament.get("results")) === "[]") { %>
      <br>
      <label>
        Num. Teams (max 64)
        <select name="tournament[max_teams]">
          <option value=""></option>
          <% for (var i = 2; i < 7; i++) { %>
            <option value="<%= Math.pow(2, i) %>" <%= tournament.get("max_teams") && tournament.get("max_teams") === Math.pow(2, i) ? "selected" : "" %>><%= Math.pow(2, i) %></option>
          <% } %>
        </select>
      </label>

      <br>
      <label>
        Tournament Type
        <select name="tournament[double_elim]">
          <option value="false" <%= tournament.get("isDoubleElim") ? "" : "selected" %>>Single Elimination</option>
          <option value="true" <%= tournament.get("isDoubleElim") ? "selected" : "" %>>Double Elimination</option>
        </select>
      </label>
    <% } %>

    <br>
    <label>
      Description (optional)<br>
      <textarea name="tournament[description]"
        rows="8" cols="40"
        class="form-control"
        placeholder="Description"><%= tournament.escape("description") %></textarea>
    </label>

    <br>
    <input type="submit" class="btn btn-info" value="Submit">
  </form>
</div>
