<details>
  <summary>
    <a href="<%= "#tournaments/" + tournament.escape("id") %>">
      <%= tournament.escape("title") %>
    </a>
  </summary>
  <div>
    <div class="progress">
      <div
        class="progress-bar <%= tournament.get("completion") === 100 ? "progress-bar-success" : "" %>"
        role="progressbar" aria-valuenow="<%= tournament.get("completion") %>"
        aria-valuemin="0"
        aria-valuemax="100"
        style="min-width: 2em; width: 2%; width: <%= tournament.get("completion") %>%;">
          <%= tournament.get("completion") %>%
      </div>
    </div><br><br>
    <h3><a href="<%= "#tournaments/" + tournament.escape("id") %>"><%= tournament.escape("title") %></a></h3>
    <%= tournament.escape("description") %>
  </div>
</details>
