<div class="right-side">
  <div class="num-follows-container"></div>
  <% if (tournament.get("userTeam")) { %>
    <button class="register-button btn btn-primary"><%= tournament.get("registered") ? "Unregister From " : "Register For " %>Tournament</button>
    <br>
  <% } %>

  <% if (tournament.get("authorized")) { %>
    <button class="edit-button btn btn-primary">Edit Tournament Details</button>
  <% } %>
</div>
<a href="#tournaments">Back to Tournaments Index</a><br>
<h2><%= tournament.escape("title") %></h2>


<p>Hosted by <%= tournament.escape("host") %></p>


<p>
  <strong>Description</strong>
  <br>
  <%= tournament.escape("description") %>
</p>


<% if (tournament.get("authorized")) { %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    You are the host of this tournament!<br>To update the bracket, simply click the score area and input the score.
  </div>
<% } %>

<div class="progress">
  <div
    class="progress-bar <%= tournament.get("completion") === 100 ? "progress-bar-success" : "" %>"
    role="progressbar" aria-valuenow="<%= tournament.get("completion") %>"
    aria-valuemin="0"
    aria-valuemax="100"
    style="min-width: 2em; width: 2%; width: <%= tournament.get("completion") %>%;">
      <%= tournament.get("completion") %>%
  </div>
</div>

<div id="bracket-container">
  <div class="bracket-body"></div>
</div>

<br>
<strong>Registered Teams</strong><br>
<ul class="teams-index list-group">
  <li class="list-group-item">None</li>
</ul>

<% if (tournament.get("authorized")) { %>
  <button class="delete-button btn btn-primary">Delete Tournament</button>
<% } %>
