<div class="right-side">
  <div class="num-follows-container"></div>
  <% if ((tournament.get("userTeam") && tournament.registrations().length < tournament.get("max_teams"))
    || (tournament.get("registered"))) { %>
      <button class="register-button btn btn-info"><%= tournament.get("registered") ? "Unregister From " : "Register For " %>Tournament</button>
      <br>
  <% } %>

  <% if (tournament.get("authorized")) { %>
    <button class="edit-button btn btn-info">Edit Tournament Details</button>
  <% } %>
</div>
<h2><%= tournament.escape("title") %></h2>

<p><b>Hosted by: </b><%= tournament.escape("host") %></p>

<p>
  <strong>Description</strong>
  <br>
  <%= tournament.escape("description") %>
</p>

<% if (tournament.get("authorized")) { %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    You are the host of this tournament!<br>
    To update the bracket, simply click the score area and input the score.
  </div>
<% } %>

<div class="progress">
  <div
    class="progress-bar <%= tournament.get("completion") === 100 ? "progress-bar-success" : "" %>"
    role="progressbar" aria-valuenow="<%= tournament.get("completion") %>"
    aria-valuemin="0"
    aria-valuemax="100"
    style="min-width: 2em; width: 2%; width: <%= tournament.get("completion") %>%;">
      <%= tournament.get("completion") %>%
  </div>
</div>

<div id="bracket-container">
  <div class="bracket-body"></div>
</div>

<br>
<strong>Registered Teams</strong><br>
<ul class="teams-index list-group">
  <li class="list-group-item">None</li>
</ul>

<% if (tournament.get("authorized")) { %>
  <button class="delete-button btn btn-info">Delete Tournament</button>
<% } %>
